<%= form_with(model: arena, local: true) do |form| %>
  <% if arena.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% arena.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select(:character_1_id, Character.all, :id, :name) %>
  <%= form.collection_select(:character_2_id, Character.all, :id, :name) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
