<%= form_with(model: arena, local: true) do |form| %>
  <% if arena.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% arena.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= form.label :character_1_id %>
  <%= form.select(
    :character_1_id,
    Character.all.map { |character| ["#{character.name} (life: #{character.life} / Attack #{character.attack})", character.id] },
    {},
    { class: "form-control"})%>  
  <%= form.label :character_1_weapon_id %>
  <%= form.select(
    :character_1_weapon_id, 
    Accessory.all.map { |accessory| ["#{accessory.name} (Attack: #{accessory.weapon} / Defense: #{accessory.shield})", accessory.id] }, 
    {},
    { class: "form-control"})%>
  </div>
  <%= form.label :character_2_id %>
  <%= form.select(
  :character_2_id,
  Character.all.map { |character| ["#{character.name} (life: #{character.life} / Attack #{character.attack})", character.id] },
  {},
  { class: "form-control"})%>
  <%= form.label :character_2_weapon_id %>
  <%= form.select(
  :character_2_weapon_id,
  Accessory.all.map { |accessory| ["#{accessory.name} (Attack: #{accessory.weapon} / Defense #{accessory.shield})", accessory.id] },
  {},
  { class: "form-control"})%>
  <br>
  <%= form.submit class: "btn btn-light"%>
<% end %>
