<p id="notice"><%= notice %></p>
here is the recap of your Game: 
<br>
The winner is <%= @winner.name %>
<p><%= @winner.name %> has now <%= @winner.victory %> victories and <%= @winner.experience %> points of experience</p>
<p><%= @loser.name %> has now <%= @loser.defeat %> defeats and <%= @loser.experience %> points of experience </p>


<br>
<%= link_to 'Edit', edit_arena_path(@arena) %> |
<%= link_to 'Back', arenas_path %>
