<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Life:</strong>
  <%= @character.life %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @character.attack %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <% if @character.avatar == true %>
  <strong>Avatar:</strong>
  <img src="<%= url_for(@character.avatar) %>" />
  <% else %>
  There is no avatar for this character
  <% end %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
